.main__order-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart__box {
	width: 100%;
	color: var(--white-text-color);
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	height: 270px;
	overflow-y: auto;
}

.cart__empty-box {
	margin-top: 35%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cart__empty-msg {
	text-align: center;
}

.link__order-page {
	display: grid;
	place-content: center;
}

.cart__addEventBtn {
	background-color: transparent;
	border: none;
	color: var(--white-text-color);
	font-size: 3rem;
	padding: 1rem 0;
}

.summary__box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.summary__title {
	text-align: center;
	font-size: 1.1rem;
	font-family: var(--secondary-font);
	color: var(--white-text-80opacity-color);
}

.summary__amount {
	text-align: center;
	font-size: 2rem;
	color: var(--white-text-color);
	font-weight: 600;
	font-family: var(--secondary-font);
}
