@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'Sansita One';
	src: url('./assets/fonts/SansitaOne.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sansita One', sans-serif;
}

:root {
	--primary-bg-color: #231f42;
	--secondary-bg-color: #f56b9a;
	--purple-bg-color: #bb6ac9;
	--green-bg-color: #37aeab;
	--white-bg-color: #ffffff;

	--primary-text-color: #f56b9a;
	--secondary-text-color: #231f42;
	--green-text-color: #37aeab;
	--light-green-text-color: rgba(64, 223, 217, 0.848);
	--white-text-color: #ffffff;
	--white-text-80opacity-color: rgba(255, 255, 255, 0.8);
	--black-text-color: #000000;

	--primary-font: 'Sansita One', sans-serif;
	--secondary-font: 'Fira Sans', sans-serif;
	--italic-style: italic;
}

body {
	background-color: var(--primary-bg-color);
}

.page {
	background-color: var(--primary-bg-color);
	margin: auto;
	/* max-width: 600px; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.page--gradient {
	background: linear-gradient(
		to bottom,
		var(--secondary-bg-color) 0%,
		var(--primary-bg-color) 80%
	);
}

.main {
	flex: 1;
	display: grid;
	place-content: center;
	padding: 0 2rem 2rem 2rem;
}

.link {
	text-decoration: none;
	color: var(--secondary-text-color);
	cursor: pointer;
}

.link--active {
	color: var(--white-text-color);
}

.simple-click {
	position: relative;
	overflow: hidden;
}

.simple-click:active::after {
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	inset: 0;
}
