.msg__box {
	width: 80%;
	/* Fixerar meddelandet på skärmen */
	position: fixed;
	top: 50%;
	left: 50%;
	/* Flyttar det 50% av sin egen bredd/höjd */
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}
.success {
	background-color: var(--secondary-bg-color);
	color: white;
}

.error {
	background-color: rgb(194, 0, 0);
	color: white;
}
