.cart-counter__box {
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	top: 0.3rem;
	right: 0.2rem;
	border: 3px solid var(--green-bg-color);
	background-color: var(--green-bg-color);
	border-radius: 50px;
	padding: 0.8rem;
	display: grid;
	place-content: center;
}

.cart-counter__number {
	font-family: var(--secondary-font);
	font-size: 1.2rem;
	text-align: center;
	color: var(--white-text-color);
}
