.swiper__ticket {
	height: 400px;
	width: 330px;
	overflow-y: auto;
	position: relative;
}

.ticket__box {
	height: 500px;
	max-width: 285px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: var(--white-bg-color);
	display: flex;
	flex-direction: column;
}

.swiper__ticket .swiper-slide {
	opacity: 0.5;
	transition: opacity 1s ease;
}

.swiper__ticket .swiper-slide-active {
	opacity: 1;
}

.ticket-what__box,
.ticket-where__box,
.ticket__info-box {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	border-bottom: 2px dotted var(--black-text-40opacity-color);
	padding: 1rem;
}

.ticket__box-title {
	font-size: 0.625rem;
	font-family: var(--secondary-font);
	color: var(--black-text-40opacity-color);
}

.ticket-what__title {
	font-size: 1.625rem;
	color: var(--primary-text-color);
}

.ticket-where__box {
	background-color: var(--black-text-3opacity-color);
}

.ticket-where__title {
	font-size: 1.125rem;
	font-family: var(--secondary-font);
	font-weight: 600;
	color: var(--black-text-70opacity-color);
}

.ticket__small-boxes {
	display: flex;
	border-bottom: 2px dotted var(--black-text-40opacity-color);
	background-color: var(--black-text-6opacity-color);
}

.ticket__small-box {
	flex: 1;
	padding: 0.8rem;
}

.ticket__small-box--dotted {
	border-left: 2px dotted var(--black-text-40opacity-color);
	border-right: 2px dotted var(--black-text-40opacity-color);
}

.ticket__small-box-paragraph {
	font-family: var(--secondary-font);
}

.ticket__info-box {
	background-color: var(--black-text-9opacity-color);
}

.ticket__bar-code-box {
	background-color: var(--black-text-12opacity-color);
}
