.nav__list-item {
	list-style-type: none;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.nav__icon-box {
	width: 45px;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
}
.nav__icon {
	font-size: 2rem;
}

.nav__icon--active,
.nav__title--active {
	color: var(--white-text-color);
}
