.empty-events__box {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.empty-events__msg {
	color: var(--white-text-color);
	text-align: center;
}

.empty-events__circle {
	color: var(--white-text-color);
}

.empty-events__circle-icon {
	place-self: center;
	background-color: transparent;
	border: none;
	color: var(--white-text-color);
	font-size: 3rem;
	padding: 0 0 1rem 0;
}
